<!-- web/templates/layout.html -->
<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <title>Forum</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>Forum</h1>
        <nav>
            <a href="/">Главная</a>
            {{ if .User }}
                <a href="/create">Создать пост</a>
                <a href="/filter">Фильтры</a>
                <a href="/logout">Выход ({{ .User.Username }})</a>
            {{ else }}
                <a href="/login">Войти</a>
                <a href="/register">Регистрация</a>
            {{ end }}
        </nav>
    </header>

    <main>
        {{ template "content" . }}
    </main>

    <footer>
        <p>© 2025 Forum</p>
    </footer>

</body>
</html>